.PCTemplate {
  min-height: 100%;
  background-color:rgb(222, 239, 255);
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  box-sizing: border-box;
  row-gap: 1rem;
}

.PCTemplate>* {
  padding: 0 1rem;
}

.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  grid-template-rows: min-content;
  align-items: start;
}
