.SPTemplate {
  width: 100%;
  min-height: 100%;
  background-color:rgb(222, 239, 255);
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 1rem;
  box-sizing: border-box;
  align-items: start;
}

.main {
  display: grid;
  row-gap: 1rem;
}

.Header, .Footer {
  justify-items: center;
}