.pointable {
  cursor: pointer;
}

.disabled .pointable {
  cursor: default;
}

.Checkbox {
  display: none;
}

.FormLabel {
  display: inline-block;
  user-select: none;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.checked .FormLabel {
  background-color: #faa;
}

.disabled .FormLabel {
  background-color: #ddd;
}