.PrefBlockList.ERROR {
  display: block;
  text-align: center;
  font-weight: bold;
  color: red;
}

.PrefBlockList {
  font-size: 1rem;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
}