.PrefCheckList.ERROR {
  display: block;
  text-align: center;
  font-weight: bold;
  color: red;
}

.PrefCheckList.DONE {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  grid-gap: 0.3em;
}
